.DivColor{
    background-color: blueviolet;
}

.titleHeader{
    height: 120px;
    background-color: #D9D9D9;
    color: brown;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30px;
}
.cont1 {
    border: 2px solid black;
}

.textboxtext {
    font-size: 28px;
    font-weight: bold;
}

.active {
    background-color: dodgerblue !important;
    color: white !important;
    border-radius: 10px !important;

}

.disabled {
    color: red !important;
}

.cont2 {
    background-color: purple;
}

.left {
    background-color: red;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.middle {
    background-color: gold;
}
.right {
    background-color: green;
        border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}